<div class="container">

    <div>
        <li>Press Init Users button for adding Users</li>
        <li>Input corresponding credentials: admin/admin or user/user</li>
        <li>Get or no users dependently from credentials</li>
    </div>
    <hr>

    <input type="text" ng-model="user.username">
    <input type="password" ng-model="user.password">

    <input type="button" ng-click="initUsers()" value="Init Users">
    <input type="button" ng-click="login()" value="Log In">
    <input type="button" ng-click="logout()" value="Log Out">


    <a href="/#/admin">to Admin Page</a>
    <a href="/#/user">to User Page</a>

    <ui-view></ui-view>

</div>